{# EXTENDEMOS LA PLANTILLA 'AppBundle:Layouts:layout.html.twig'...................... #}
  {% extends "AppBundle:Layouts:layout.html.twig"%}
{# ......................EXTENDEMOS LA PLANTILLA 'AppBundle:Layouts:layout.html.twig' #}
{% block content %}
  <div class="col-lg-8 box-form">
    <h2>Mis Datos</h2>
    <hr/>
    {# INDICAMOS AL FORMULARIO QUE VAMOS A ENVIAR FICHERO............................ #}
      {{form_start(form, {'enctype':'multipart/form-data'})}}
      {{form_end(form)}}
    {# INDICAMOS AL FORMULARIO QUE VAMOS A ENVIAR FICHERO............................ #}
  </div>
{% endblock %}
